#board{
    border: solid 1px black;
    height: 70%;
    margin: 0 auto;
}

.chessCell{
    background-color: #734d26;
    cursor: pointer;
    border: none; 
    width: 55px;
    height: 55px;
}
.chessCellWhite{
    background-color: #ffff99 !important;
}
.chessCellMoveable{
    background-color: #ffcc00 !important;
}
.blackPawn{
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    background-image: url(http://www.charbase.com/images/glyph/9823);
}
.whitePawn{
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    background-image: url(http://www.charbase.com/images/glyph/9817);
}
.blackKnight{
    background-image: url(http://www.charbase.com/images/glyph/9822);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.whiteKnight{
    background-image: url(http://www.charbase.com/images/glyph/9816);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.blackRook{
    background-image: url(http://www.charbase.com/images/glyph/9820);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.whiteRook{
    background-image: url(http://www.charbase.com/images/glyph/9814);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.blackBishop{
    background-image: url(http://www.charbase.com/images/glyph/9821);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}

.whiteBishop{
    background-image: url(http://www.charbase.com/images/glyph/9815);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.whiteQueen{
    background-image: url(http://www.charbase.com/images/glyph/9813);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.whiteKing{
    background-image: url(http://www.charbase.com/images/glyph/9812);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.blackQueen{
    background-image: url(http://www.charbase.com/images/glyph/9819);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.blackKing{
    background-image: url(http://www.charbase.com/images/glyph/9818);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.checked{
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 64, 64, .3);
    position: fixed;
    cursor: default;
    font-size: 72px;
    margin: 0 auto;
}
.checkText{
    text-align: center;
    color: rgba(230, 0, 0, 1);
    font-size: 80px;
    vertical-align: middle;
    line-height: 100%;
    font-weight: bold;
}