#board{
    border: solid 1px black;
    height: 100%;
    margin: 0 auto;
}

.chessCell{
    background-color: #734d26;
    cursor: pointer;
    border: none; 
    width: 75px;
    height: 75px;
}
.chessCellWhite{
    background-color: #ffff99 !important;
}
.chessCellMoveable{
    background-color: #ffcc00 !important;
}
.blackPawn{
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    background-image: url(http://www.charbase.com/images/glyph/9823);
}
.whitePawn{
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    background-image: url(http://www.charbase.com/images/glyph/9817);
}